.forgotPassword {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Cinza escuro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .forgotPassword h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgotPassword form {
    display: flex;
    flex-direction: column;
  }
  
  .forgotPassword form label {
    margin-bottom: 10px;
  }
  
  .forgotPassword .error {
    color: red;
    text-align: center;
  }
  
  .forgotPassword .success {
    color: green;
    text-align: center;
  }
  